@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

:root {
    --accent: #e63535;
    --accent-light: #d44545;
    --bg: #0f0f0f;
    --bg-light: #353535;
}

html {
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    margin: 10px;
    padding-bottom: 30px;
    overflow: hidden;
}

body {
    height: 100%;
    background-color: var(--bg);
    color: white;
    font-family: "IBM Plex Mono", monospace;
    text-align: center;
    font-size: 25px;
}

h1 {
    margin-bottom: 10px;
}

input {
    border: 0px;
    border-radius: 12.5px;
    background-color: var(--bg-light);
    color: white;
    font-family: "IBM Plex Mono", monospace;
    font-size: 25px;
    margin-left: 7.5px;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

tr {
    border: none;
}

td {
    text-align: right;
    padding-right: 15px;
    padding-left: 15px;
}

.table-divide {
    border-left: solid 2px var(--accent);
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
}

a {
    color: var(--accent);
    text-decoration: none;
    padding-left: 5px;
}

/* unvisited link */
a:link {
    color: var(--accent);
    text-decoration: none;
}
  
/* visited link */
a:visited {
    color: var(--accent);
    text-decoration: none;
}
  
/* mouse over link */
a:hover {
    color: var(--accent-light);
    text-decoration: none;
}  

/* selected link */
a:active {
    color: var(--accent-light);
    text-decoration: none;
} 
